<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python List & Dictionary Comprehensions

---

### Learning Objectives
*After this lesson, you will be able to:*
- Create list comprehensions 
- Create dictionary comprehensions 
- Use conditional logic (`if`/`else`) within list & dictionary comprehensions
- Use `zip()` and `enumerate()` within list & dictionary comprehensions
- Use nested list & dictionary comprehensions

---

### Lesson Guide

- [Warm-Up on Python Basics](#warm-up)
- [Basic List Comprehensions](#list_comprehensions)
- [Basic Dictionary Comprehensions](#dictionary_comprehensions)
- [Conditional Logic within Comprehensions](#conditional_comprehensions)
- [Zip and Enumerate within Comprehensions](#zip_enumerate)
- [Nested Comprehensions](#nested_comprehensions)

<a id='warm-up'></a>

### Warm-Up on  Python Basics

---

In the next 5 minutes try to write the code for the questions below on the Python basics that you reviewed yesterday.

#### Warm-Up A:  Remove the last element in `lstA` below, then sort it, insert the number `22` into the 5th position, and take a slice of the 7th through the 10th elements (inclusive).

**Hint:** You can use the function `dir()` to find out which attributes and methods are available for any python object.

In [10]:
lstA = [13,15,-4,8,23,25,17,44,-7,-10,0,1,5,0,2,8,45]

In [11]:
lstA.pop()
print(lstA.sort())
lstA.insert(4,22)
print(lstA)
print(lstA[6:10])

None
[-10, -7, -4, 0, 22, 0, 1, 2, 5, 8, 8, 13, 15, 17, 23, 25, 44]
[1, 2, 5, 8]

#### Warm-Up B:  Remove Diesel from `dictB` below.  Add Teddy to the dictionary with a value of 5. Get a list of the key, value tuples now in the dictionary.

In [12]:
dictB = {'Mabel':10,
         'Wilbur':12,
         'Diesel':4,
         'Schatzie':9}

In [13]:
#del dictB["Diesel"]
dictB.pop("Diesel")
dictB

{'Mabel': 10, 'Wilbur': 12, 'Schatzie': 9}

In [ ]:
dictB.popitem

In [14]:
dictB["Teddy"]=5
dictB

{'Mabel': 10, 'Wilbur': 12, 'Schatzie': 9, 'Teddy': 5}

In [16]:
new_list=dictB.items()

for x in new_list:
    print(x)

('Mabel', 10)
('Wilbur', 12)
('Schatzie', 9)
('Teddy', 5)

<a id='list_comprehensions'></a>

### Basic List Comprehensions

---

List comprehensions are a simple and powerful syntax that allow for fast, efficient, and intuitive manipulation of array-like data types.

They are very useful replacements for iteration control statements!

In [18]:
#Let's write a for-loop to take the list below and return a list where each element has been squared:
numbers_A = [1,2,3,4,5,6,10,12]
numbers_A2=[]
for number in numbers_A:
    numbers_A2.append(number**2)
numbers_A2

numbers_A3=[number**2 for number in numbers_A]
print(numbers_A3)

[1, 4, 9, 16, 25, 36, 100, 144]

In [ ]:
#Now, let's do the same thing with a list comprehension:
numbers_B = [1,3,5,7,9,11,15]
numbers_B2 = [number**2 for number in numbers_B]
numbers_B2

- Within the brackets these elements are similar to a for loop:
  1. The **operation per element** or **expression for the outcome** comes first: `n**2`
  2. Next is the **for loop variable assignment**: `for n`
  3. Last comes the **list of elements to iterate over**: `in numbers_B`

#### Quick Practice: Try these basic list comprehensions!

In [19]:
#Multiply every element in this list by 10, and then subtract 4:
numbers = [6,10,8,5,3]
a=[(number*10)-4 for number in numbers]
a

[56, 96, 76, 46, 26]

In [21]:
#Use .capitalize() to get a list of the names with the first letters capitalized:
names = ['alex','TOM','kate','Emily','hilde']
b=[name.capitalize() for name in names]
b

['Alex', 'Tom', 'Kate', 'Emily', 'Hilde']

<a id='dictionary_comprehensions'></a>

### Basic Dictionary Comprehensions

---

You can also use comprehensions to create dictionaries instead of lists!
You'll need to use `{}` instead of `[]`, and you'll need to determine what you want the key:value pair to look like!

In [22]:
#let's write a for-loop to create a dictionary that stores how many 'e's there are in the words below:
words_A = ['exasperated','angry','elated','incredulous']
c_e={}
for x in words_A:
    c_e[x]=x.count("e")
c_e

{'exasperated': 3, 'angry': 0, 'elated': 2, 'incredulous': 1}

In [24]:
{x:x.count("e") for x in words_A}

{'exasperated': 3, 'angry': 0, 'elated': 2, 'incredulous': 1}

In [25]:
#now let's do the same thing with a dictionary comprehension:
words_B = ['embarrassed','exhausted','overjoyed','embittered']
{x:x.count("e") for x in words_B}

{'embarrassed': 2, 'exhausted': 2, 'overjoyed': 2, 'embittered': 3}

In [28]:
#now let's do the same thing again, but this time, let's count both the 'e's and the 'a's:
words_B = ['embarrassed','exhausted','overjoyed','embittered']
{x:[x.count("e"),x.count("a")] for x in words_B}

{'embarrassed': [2, 2],
 'exhausted': [2, 1],
 'overjoyed': [2, 0],
 'embittered': [3, 0]}

#### Quick Practice: Try these basic dictionary comprehensions!

In [29]:
#Create a dictionary storing the length of each word in the list below:
words = ['bus','train','airplane','tram','helicopter']

wrds_len={}

for word in words:
    wrds_len[word]=len(word)
    
wrds_len

{'bus': 3, 'train': 5, 'airplane': 8, 'tram': 4, 'helicopter': 10}

In [30]:
{word:len(word) for word in words}

{'bus': 3, 'train': 5, 'airplane': 8, 'tram': 4, 'helicopter': 10}

In [31]:
#Create a dictionary that stores the length of each of the surnames in the list below, but with the names capitalized:
#ie: 'Grant': 5, etc
surnames = ['grant','Sketchley','REUSTLE','huse','Mellgard']

{word.capitalize():len(word) for word in surnames}

{'Grant': 5, 'Sketchley': 9, 'Reustle': 7, 'Huse': 4, 'Mellgard': 8}

In [33]:
#Create a dictionary that stores the square and the cube of each of the numbers below:
numbers = [1,2,3,4,5]
new_num_dict={num:[num**2,num**3] for num in numbers}
new_num_dict

{1: [1, 1], 2: [4, 8], 3: [9, 27], 4: [16, 64], 5: [25, 125]}

<a id='conditional_comprehensions'></a>

### Conditional Logic within Comprehensions

---

You can use if/else statements within comprehensions, just the same way that you can in a for loop! 

A rule of thumb is:
- If the 'if' is related to **changing the outcome** you actually have, then it goes at **the beginning of your comprehension** after the expression for the outcome
- If the 'if' is **filtering out some of the values** (for example, you ONLY want to find the square roots of the positive numbers in a list, and skip all the negatives), then it goes right **at the end of your comprehension**

In [35]:
#Let's write a for-loop to binarize the list of numbers below depending on whether they are above or below 10
#(If the number is below 10, we replace it with 0; if it's above 10, we replace it with 1)
numbers_A = [5,7,8,19,30]
[0 if n < 10 else 1 for n in numbers_A]

[0, 0, 0, 1, 1]

In [36]:
#Now let's do the same thing with a list comprehension:
numbers_B = [34,2,8,13,20]
[0 if n < 10 else 1 for n in numbers_B]

[1, 0, 0, 1, 1]

In [42]:
#Let's write a dictionary comprehension to store whether each word is 'short' or 'long' in the list below
#If the length of the word is over six letters, then we'll say it's 'long'; otherwise it's 'short'
#We want to skip over any items that aren't words
lst_A = ['ostentatious','house','industrial', None,'dog',8,'eat']

{word:"long" if len(word)>6 else "short" for word in lst_A if isinstance(word,str)}

{'ostentatious': 'long',
 'house': 'short',
 'industrial': 'long',
 'dog': 'short',
 'eat': 'short'}

#### Quick Practice: Try these comprehensions with conditionals!

In [43]:
#Write a dictionary comprehension to store the length of each of the words in the list below, 
#but only for the words that end in 't'!
words = ['cat','dog','elephant','rabbit','lizard']

{word:len(word) for word in words if word[-1] =="t"}

{'cat': 3, 'elephant': 8, 'rabbit': 6}

In [47]:
#Write a list comprehension to multiply all the even numbers by 2 and all the odd numbers by 3
#BUT only do this for the positive numbers!
#(remember, you can use % to find the remainder after division for two numbers, 
#so 10%5 would be 0 because 5 fits into 10 evenly with no remainder)
numbers = [4,5,3,10,-6,7]

[num*2 if num%2==0  else num*3 for num in numbers if num > 0]

[8, 15, 9, 20, 21]

<a id='zip_enumerate'></a>

### Zip and Enumerate within Comprehensions

---

The functions `zip()` and `enumerate()` can be really helpful for list and dictionary comprehensions!

`zip()` is great for pairing together items from two different lists.

`enumerate()` is helpful when you want to use both the items and also the position of the item in the list. It provides a count for each item.

In [52]:
#Let's write a for-loop to create a dictionary that stores the populations of the cities below:
cities_A = ['Tokyo','Shanghai','Jakarta','Delhi','Seoul']
populations_A = [37.8,34.9,31.7,26.5,25.5]

combined_city=zip(cities_A,populations_A)
{keys:values for keys,values in combined_city}

{'Tokyo': 37.8,
 'Shanghai': 34.9,
 'Jakarta': 31.7,
 'Delhi': 26.5,
 'Seoul': 25.5}

In [55]:
#Let's write a dictionary comprehension to store the population of the cities below to the nearest million, 
#but ONLY if they're more than 22 million
cities_B = ['Karachi','Guangzhou','Beijing','Shenzhen','Mexico City']
populations_B = [25.1,25.0,24.9,23.3,21.5]

combined_city_2=zip(cities_B,populations_B)
{keys:values for keys,values in combined_city_2 if values > 22}

{'Karachi': 25.1, 'Guangzhou': 25.0, 'Beijing': 24.9, 'Shenzhen': 23.3}

In [64]:
#Let's combine the two lists of cities together and then write a list comprehension to get a list of strings 
#that looks like ['1 Tokyo','2 Shanghai',...]

all_cities=cities_A+cities_B

for i,city in enumerate(all_cities):
    print(f"{i+1} {city}")

1 Tokyo
2 Shanghai
3 Jakarta
4 Delhi
5 Seoul
6 Karachi
7 Guangzhou
8 Beijing
9 Shenzhen
10 Mexico City

In [67]:
aa_list=[f"{i+1} {city}" for i,city in enumerate(all_cities) ]
aa_list

['1 Tokyo',
 '2 Shanghai',
 '3 Jakarta',
 '4 Delhi',
 '5 Seoul',
 '6 Karachi',
 '7 Guangzhou',
 '8 Beijing',
 '9 Shenzhen',
 '10 Mexico City']

In [70]:
all_pop=populations_A+populations_B
all_pop

[37.8, 34.9, 31.7, 26.5, 25.5, 25.1, 25.0, 24.9, 23.3, 21.5]

In [73]:
all_cities

['Tokyo',
 'Shanghai',
 'Jakarta',
 'Delhi',
 'Seoul',
 'Karachi',
 'Guangzhou',
 'Beijing',
 'Shenzhen',
 'Mexico City']

In [85]:
#Let's create a dictionary that holds each city as the key, 
#and a tuple containing the ranking of the city and its population as the value
#but ONLY for the top 8 cities
#each entry should look like:  'Delhi': (4, 26.5)

all_pop=populations_A+populations_B

{city:(i+1,value) for i,(city,value) in enumerate(zip(all_cities,all_pop)) if i <8}
# {city:(i,values) for (i,city),values in zip(enumerate(all_cities),all_pop)}

{'Tokyo': (1, 37.8),
 'Shanghai': (2, 34.9),
 'Jakarta': (3, 31.7),
 'Delhi': (4, 26.5),
 'Seoul': (5, 25.5),
 'Karachi': (6, 25.1),
 'Guangzhou': (7, 25.0),
 'Beijing': (8, 24.9)}

In [ ]:
# first combine all the cities and all the populations

all_cities = cities_A + cities_B
all_pop = populations_A+populations_B

In [ ]:
# then find the rankings by using enumerate, then zip with the population

#### Quick Practice: Try these comprehensions with zip and enumerate!

In [88]:
#create a dictionary that stores each person's name with the total number of hours they worked last week
#each entry should look like:   'Ollie': 25 
#hint: use the sum() function
employees = ['Faye','Ollie','Roberto']
hours = [(5,8,10,10,8),(4,0,6,10,5),(8,8,7,9,10)]


{key:sum(values) for key,values in zip(employees,hours)}

{'Faye': 41, 'Ollie': 25, 'Roberto': 42}

In [93]:
#the following is a list of 20 students in order of how well they did on an exam
#the top three students and the bottom three students will change sets
#create a list of only the top three students and the bottom three students, with their ranking
#each entry should look like:   ('Matt', 1)
students = ['Matt','Keri','Raushaun','CJ','Sean',
            'Abdullah','Chris','Mabel','Anna','Liza',
            'Sam','Alfie','Emma','Michael','Boris',
            'Fred','Demi','Renata','Kush','Precious']

[(name,i+1) for i,name in enumerate(students) if i <4 or i > len(students)-3]

[('Matt', 1),
 ('Keri', 2),
 ('Raushaun', 3),
 ('CJ', 4),
 ('Kush', 19),
 ('Precious', 20)]

Solution:

<p style='color:white'>
[(s, i) for i, s in enumerate(students, 1) 
 if i <=3 or i >= len(students)-2 ]

<a id='with_pandas'></a>

### Application of Comprehensions with Pandas

---

It's very easy to create a dataframe using a dictionary, so dictionary comprehensions in particular may come in handy!

Here's an example below:

In [94]:
import pandas as pd

column_names = ['height','weight','age']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [33, 40, 25, 28]]

In [95]:
{col:vals for col, vals in zip(column_names, values)}

{'height': [62, 54, 60, 50],
 'weight': [180, 120, 200, 100],
 'age': [33, 40, 25, 28]}

In [96]:
records = pd.DataFrame({col:vals for col, vals in zip(column_names, values)})
records

   height  weight  age
0      62     180   33
1      54     120   40
2      60     200   25
3      50     100   28

In [98]:
records.describe()

          height      weight        age
count   4.000000    4.000000   4.000000
mean   56.500000  150.000000  31.500000
std     5.507571   47.609523   6.557439
min    50.000000  100.000000  25.000000
25%    53.000000  115.000000  27.250000
50%    57.000000  150.000000  30.500000
75%    60.500000  185.000000  34.750000
max    62.000000  200.000000  40.000000