In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("../../../../Pandas_FreeCodeCamp_Tutorial_Santiago/Materials/dictionary/enable1.csv")
df.head()

       aa
0     aah
1   aahed
2  aahing
3    aahs
4     aal

In [9]:
df[df["aa"]==]

10    DSA
20     ML
30     DS
dtype: object