
<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Introduction to `pandas` - lab Exercise

Consider the Superstore dataset, which consist of several tables stored as .csv files.

- Products Table (products.csv)
- Orders Table (orders.csv)
- Returns Table (returns.csv)


The Products Table contains the following attributes:

- **product_id** - 	The unique identifier value for the product in the order.
- **category** - 	The product's highest level category.
- **sub_category** - 	The classification of the product within the high-level category.
- **product_name** - 	The name of the product.
- **product_cost_to_consumer** - 	The cost of each product on a single quantity basis.

Let's explore the Products table using what we have learned about Pandas so far.

In [ ]:
# import the required libraries first!

Q1. Read in the products.csv file that is in the `datasets` directory into a DataFrame called `products` (You may have to go up one folder to find it, type "../" and press the TAB key)

In [ ]:
#Q1 Answer here

Q2. Print the first 4 rows of the `products` DataFrame.

In [ ]:
#Q2 answer here

Q3. Identify the shape of the `products` DataFrame (how many rows and columns?)

In [ ]:
#Q3 answer here

Q4. Get information about the number of null values, data types, memory usage of the DataFrame.

In [ ]:
#Q4 Answer here

Q5. How many products of each category are there?

In [ ]:
#Q5 Answer here

Q6. What is the difference between using `unique()` and `nunique()`? Which one can be applied on the DataFrame and which one can be used on a Series, for example the `sub_category` column?

In [ ]:
# Q6 Test out here

Q7. Get some descriptive statistics about the numeric variable(s): count, mean, std dev, etc...

In [ ]:
#Q7 Answer here

Q8. Using `.loc()`, find all the products in rows with index 10 - 20, showing the product_ID and product name only.

In [ ]:
#Q8 Answer here

Q9. Using `.iloc()`, get the products in rows with index offset from 10 to 20 and the product id and product name columns.

In [ ]:
#Q9 Answer here

Q10. What is the mean product cost to consumer for all products?

In [ ]:
#Q10 Answer here

Q11. Find all the products in the category 'Furniture'.

In [ ]:
#Q11 Answer here

Q12. What is the mean product cost to consumer for products in the category 'Furniture'?

In [ ]:
#Q12 Answer here

Q13. Find all the products in the category "Office Supplies" that have a product cost to consumer more than 100.

In [ ]:
#Q13 Answer here

Q14. Sort all the products by sub category, then product cost to consumer, showing the most expensive products in each sub category first.

In [ ]:
# Q14 Answer here

Q15. What are the top 10 products with the highest product cost to consumer containing the word "Recycled" or "Green" in the product name?
Return your answer as a DataFrame object.

In [ ]:
#Q15 Answer here